<?xml version="1.0" encoding="UTF-8"?>
<%
var colorProperties = _.filter(allProperties, function(prop) {
    return prop.type === 'color';
});
%>
<resources>
    <% _.each(colorProperties, function(prop) {
    %><color name="<%= prop.name %>"><%= prop.value %></color><% if (prop.attributes && prop.attributes.comment) { %><!-- <%= prop.attributes.comment %> --><% } %>
    <% }); %>
</resources>
